# Configuration file

~CONFIG_VERSION: 1.0

##########################################################################################################
# Client Settings
#--------------------------------------------------------------------------------------------------------#
# Client Settings.
##########################################################################################################

"Client Settings" {
    # If the States Minimap should be shown. [default: true]
    B:show_minimap=true
}


##########################################################################################################
# Default Settings
#--------------------------------------------------------------------------------------------------------#
# General State Settings.
##########################################################################################################

"Default Settings" {
    # If players should be able to claim chunks temporarily. [default: true]
    B:allow_temporary_districts=true

    # Should players be able to break, place or interact with blocks in Wilderness? (District:-1) [default: false]
    B:allow_wilderness_access=true

    # How many chunks a Municipality can CLAIM per citizen inhabiting it. [range: 1 ~ 4096, default: 16]
    I:chunk_per_citizen=16

    # Default price for unclaimed chunks. (1000 == 1F$) [range: 0 ~ 2147483647, default: 100000]
    I:default_chunk_price=100000

    # A key/token so only an authorized bot can send messages to this server. Can be changed as wanted. [default: a9fa8cfbcf3a44119c30f607be491012]
    S:discord_botkey=640aa26d98d64e7eb6bf9624ef763001

    # Port for receiving messages from the bot, set to -1 to disable. [range: 8000 ~ 2147483647, default: 9910]
    I:discord_botport=9910

    # Discord Webhook, set to 'null' to disable! [default: null]
    S:discord_webhook=null

    # The "Server's" name when sending messages to the webhook which aren't from a player, e.g. on server start/stop. [default: States Broadcaster]
    S:discord_webhook_broadcaster_name=States Broadcaster

    # Icon for the Server Broadcaster, in discord. [default: https://i.imgur.com/LwuKE0b.png]
    S:discord_webhook_icon=https://i.imgur.com/LwuKE0b.png

    # Amount of Money Needded to create a district. (1000 == 1F$) [range: 0 ~ 2147483647, default: 1200000]
    I:district_creation_price=1200000

    # Amount of max (force) loaded chunks a Municipality can have. [range: 0 ~ 128, default: 0]
    I:loaded_chunks_per_municipality=0

    # Tax a Municipality has to pay the Server for having force-loaded chunks. [range: 0 ~ 2147483647, default: 25000]
    I:loaded_chunks_tax=25000

    # Max amount of Map updates per second. [range: 0 ~ 128, default: 20]
    I:map_updates_per_second=20

    # Amount of Money needed to create a municipality. (1000 == 1F$) [range: 0 ~ 2147483647, default: 2500000]
    I:municipality_creation_price=2500000

    # Municipality Sizes [default: [{'citizen': 0, 'districts': 1, 'title':'Hamlet'}], [{'citizen': 8, 'districts': 2, 'title':'Village'}], [{'citizen': 16, 'districts': 3, 'title':'Small Town'}], [{'citizen': 24, 'districts': 4, 'title':'Town'}], [{'citizen': 32, 'districts': 6, 'title':'Large Town'}], [{'citizen': 40, 'districts': 8, 'title':'City'}], [{'citizen': 60, 'districts': 10, 'title':'Large City'}], [{'citizen': 120, 'districts': 12, 'title':'Metropolis'}], [{'citizen': 160, 'districts': 16, 'title':'<name pending>'}]]
    S:municipality_types <
        {'citizen': 0, 'districts': 1, 'title':'Hamlet'}
        {'citizen': 8, 'districts': 2, 'title':'Village'}
        {'citizen': 16, 'districts': 3, 'title':'Small Town'}
        {'citizen': 24, 'districts': 4, 'title':'Town'}
        {'citizen': 32, 'districts': 6, 'title':'Large Town'}
        {'citizen': 40, 'districts': 8, 'title':'City'}
        {'citizen': 60, 'districts': 10, 'title':'Large City'}
        {'citizen': 120, 'districts': 12, 'title':'Metropolis'}
        {'citizen': 160, 'districts': 16, 'title':'<name pending>'}
     >

    # Max length of Player Nicknames (/nick). [range: 3 ~ 128, default: 40]
    I:nickname_length=40

    # Available: basic, advanced, absolute,  [default: basic]
    S:protection_level=basic

    # Amount of Money needed to create a state. (1000 == 1F$) [range: 0 ~ 2147483647, default: 52000000]
    I:state_creation_price=52000000

    # States chat override. [default: true]
    B:states_chat=true

    # Intervals between tax collection cycles, 1000 = 1 second. [range: 1000 ~ 2147483647, default: 86400000]
    I:tax_interval=86400000

    # If offline (inactive since more than one interval) players should be taxed as well. [default: false]
    B:tax_offline_players=false

    # Min Height value to which blocks in Temporary claimed Chunks can be accessed. [range: 0 ~ 127, default: 50]
    I:temporary_district_bottom_limit=50

    # Max Height value to which blocks in Temporary claimed Chunks can be accessed. [range: 127 ~ 255, default: 80]
    I:temporary_district_top_limit=80
}


